.card {
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(243, 243, 233);
  display: block;
}

#gallery {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.img-thumbnail {
  margin-top: 20px;
}

.portfolioImg {
  max-width: fit-content;
}

.card-img-top {
  margin-top: 10px;
  max-width: fit-content;
  float: left;
  display: block;
}

#prevBtn {
  background-color: transparent;
  border: transparent;
}

#nextBtn {
  background-color: transparent;
  border: transparent;
}
